################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sushi2/.vs/Sushi2/v15
/Sushi2/packages
/Sushi2/Sushi2/bin
/Sushi2/Sushi2/obj
/Sushi2/Sushi2/Properties/PublishProfiles
/Sushi2/Sushi2/Sushi2.csproj.user
/Sushi2/SushiTests/bin
/Sushi2/SushiTests/obj
/Sushi2/TestResults/frohi_000_ZERG 2017-05-15 15_30_12/Out
/Sushi2/Sushi2.sln.DotSettings.user
